@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "font-title";
  src: url("/font-title.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font-body";
  src: url("/font-body.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  color: #eee;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading;
}

body {
  @apply font-body;

  background-image:
    radial-gradient(hsla(230deg, 5%, 80%, 0.08) 2px, transparent 0),
    radial-gradient(hsla(0deg, 0%, 100%, 0.08) 1px, transparent 0);
  background-size: 32px 32px, 8px 8px;
  background-position: center;
  background-color: #181818;
  position: relative;
}

.clean-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent; /* thumb and track */
}

.clean-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.clean-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* thumb */
  border-radius: 4px;
}
.clean-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; /* track */
}
.clean-scrollbar::-webkit-scrollbar-button {
  display: none;
}
